# resonant model, high mass
CXX::ExpGaussExp

mR[500]

SYS::lumi[36.1]

mu_signal[1]
POI::xsec_signal[0,5000]

# some theory numbers
SYS::BR_bb[0.575]
SYS::BR_yy[0.00228]


#################
##### 2 tag #####
#################

# 4-body mass observable for this category
OBS(bb)::m_yy_bb[335,1140]

# signal shape params, using James's parameterization
# note: systematics only on mu & sigma
SYS::expr::EGE_mu_bb('+4.000e+00 +9.926e-01*mR', mR)
SYS::expr::EGE_sigma_bb('TMath::Max(TMath::Min(-7.705e-01 +2.231e-02*mR,6.0),18.0)', mR)
expr::EGE_kL_bb('TMath::Max(TMath::Min(+5.178e+01 +1.768e-02*mR +1.923e-04*mR*mR,0.1),1.5)', mR)
expr::EGE_kH_bb('TMath::Max(TMath::Min(-1.327e-01 +3.986e-03*mR -3.065e-06*mR*mR,0.1),1.0)', mR)

# signal selection acceptace*efficiency
# hard-coded numbers taken from support note...
SYS::expr::accXeff_bb('(-0.1841+0.000681*mR-3.404e-7*mR*mR)*(0.94820+0.00002*mR)', mR)

# total expected number of signal events
prod::n_sig_bb(lumi, accXeff_bb, 2, BR_bb, BR_yy, mu_signal, xsec_signal)

# spurious signal events
SYS::n_bias_bb[0]

# ExpGaussEXP signal PDF
ExpGaussExp::pdf_sig_bb(m_yy_bb, EGE_mu_bb, EGE_sigma_bb, EGE_kL_bb, EGE_kH_bb)

# background slope param (UNCONSTRAINED in the high-mass fit)
# TODO: get reasonable guesses for "nominal" shape? for now, taken from 0-tag data
bkg_slope_bb[-0.006,-0.1,0]

# background PDF:
Exponential::pdf_bkg_bb(m_yy_bb, bkg_slope_bb)

# number of BG events, constrained about side-band predicted best-fit value
SYS::n_bkg_nonHiggs_bb[4.71]

# TODO: add in the SM Higgs yields from MC!
n_bkg_smHiggs_bb[0]

# combined S+B PDF:
sum::n_bkg_bb(n_bkg_nonHiggs_bb, n_bkg_smHiggs_bb)
MODEL(bb)::SUM::model_bb(n_bkg_bb*pdf_bkg_bb, n_sig_bb*pdf_sig_bb, n_bias_bb*pdf_sig_bb)


#################
##### 1 tag #####
#################

# 4-body mass observable for this category
OBS(jb)::m_yy_jb[335,1140]

# signal shape params, using James's parameterization
# note: systematics only on mu & sigma
SYS::expr::EGE_mu_jb('+4.000e+00 +9.921e-01*mR', mR)
SYS::expr::EGE_sigma_jb('TMath::Max(TMath::Min(-9.049e-01 +2.391e-02*mR,6.0),18.0)', mR)
expr::EGE_kL_jb('TMath::Max(TMath::Min(+2.041e+01 -8.589e-02*mR +9.458e-05*mR*mR,0.1),1.5)', mR)
expr::EGE_kH_jb('TMath::Max(TMath::Min(+6.898e-01 +4.664e-04*mR -4.617e-07*mR*mR,0.1),1.0)', mR)

# signal selection acceptace*efficiency
# hard-coded numbers taken from support note...
SYS::expr::accXeff_jb('(-0.07348+0.0002742*mR-7.601e-8*mR*mR)*(0.94239+0.00002*mR)', mR)

# total expected number of signal events
prod::n_sig_jb(lumi, accXeff_jb, 2, BR_bb, BR_yy, mu_signal, xsec_signal)

# spurious signal events
SYS::n_bias_jb[0]

# ExpGaussEXP signal PDF
ExpGaussExp::pdf_sig_jb(m_yy_jb, EGE_mu_jb, EGE_sigma_jb, EGE_kL_jb, EGE_kH_jb)

# background slope param (UNCONSTRAINED in the high-mass fit)
# TODO: get reasonable guesses for "nominal" shape? for now, taken from 0-tag data
bkg_slope_jb[-0.006,-0.1,0]

# background PDF:
Exponential::pdf_bkg_jb(m_yy_jb, bkg_slope_jb)

# number of BG events, constrained about side-band predicted best-fit value
SYS::n_bkg_nonHiggs_jb[17.23]

# TODO: add in the SM Higgs yields from MC!
n_bkg_smHiggs_jb[0]

# combined S+B PDF:
sum::n_bkg_jb(n_bkg_nonHiggs_jb, n_bkg_smHiggs_jb)
MODEL(jb)::SUM::model_jb(n_bkg_jb*pdf_bkg_jb, n_sig_jb*pdf_sig_jb, n_bias_jb*pdf_sig_jb)
